<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <GENcounter.label>未定义的污秽</GENcounter.label>
  <GENcounter.description>时钟</GENcounter.description>

  <EQcounter.label>未定义的污秽</EQcounter.label>
  <EQcounter.description>时钟</EQcounter.description>

  <MTcounter.label>未定义的污秽</MTcounter.label>
  <MTcounter.description>时钟</MTcounter.description>

  <MTRcounter.label>未定义的污秽</MTRcounter.label>
  <MTRcounter.description>时钟</MTRcounter.description>

  <SCcounter.label>未定义的污秽</SCcounter.label>
  <SCcounter.description>时钟</SCcounter.description>

  <PCcounter.label>未定义的污秽</PCcounter.label>
  <PCcounter.description>时钟</PCcounter.description>

  <RADcounter.label>未定义的污秽</RADcounter.label>
  <RADcounter.description>时钟</RADcounter.description>

  <NFcounter.label>未定义的污秽</NFcounter.label>
  <NFcounter.description>时钟</NFcounter.description>

  <ORcounter.label>未定义的污秽</ORcounter.label>
  <ORcounter.description>时钟</ORcounter.description>

  <ACcounter.label>未定义的污秽</ACcounter.label>
  <ACcounter.description>时钟</ACcounter.description>

  <VCcounter.label>未定义的污秽</VCcounter.label>
  <VCcounter.description>时钟</VCcounter.description>

  <LCcounter.label>未定义的污秽</LCcounter.label>
  <LCcounter.description>时钟</LCcounter.description>

  <GScounter.label>未定义的污秽</GScounter.label>
  <GScounter.description>时钟</GScounter.description>

  <CosmicRAD.label>辐射尘</CosmicRAD.label>
  <CosmicRAD.description>时钟</CosmicRAD.description>

  <NFRAD.label>辐射尘</NFRAD.label>
  <NFRAD.description>时钟</NFRAD.description>

  <NuclearStrikeIncoming.label>核打击（临近中）</NuclearStrikeIncoming.label>
  <OrbitalStrikeIncoming.label>轨道打击（临近中）</OrbitalStrikeIncoming.label>
  <RazorRainIncoming.label>“剃刀之雨”（临近中）</RazorRainIncoming.label>
  <Thing_RazorSpawner.label>“剃刀之雨”生成器</Thing_RazorSpawner.label>


  <!-- Misc Resources -->

  <VGlower.label>灯</VGlower.label>
  <ShipChunkIncomingFlame.label>飞船碎片（临近中）</ShipChunkIncomingFlame.label>
  <FixedMeteoriteIncoming.label>陨石（临近中）</FixedMeteoriteIncoming.label>
  <FixedMeteoriteIncomingFlame.label>陨石（临近中）</FixedMeteoriteIncomingFlame.label>


  <!-- <ThingDef Name="MechanoidShipBase" Abstract="True">
		<label>Mechanoid ship (incoming)</label>
		<category>Ethereal</category>
		<tickerType>Normal</tickerType>
		<graphicData>
			<texPath>Things/Building/Genstep/MechanoidShipIncoming</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<drawSize>(6,6)</drawSize>
			<shaderType>CutoutFlying</shaderType>
		</graphicData>
		<size>(6,6)</size>
		<altitudeLayer>Skyfaller</altitudeLayer>
		<drawerType>RealtimeOnly</drawerType>
		<useHitPoints>false</useHitPoints>
	</ThingDef>

	<ThingDef ParentName="MechanoidShipBase">
		<defName>MechanoidShipIncoming</defName>
		<thingClass>SK.Events.MechanoidShipIncoming</thingClass>
		<skyfaller>
			<shadowSize>(3,3)</shadowSize>
			<explosionRadius>4</explosionRadius>
			<explosionDamage>Bomb</explosionDamage>
			<rotateGraphicTowardsDirection>false</rotateGraphicTowardsDirection>
			<speed>1.2</speed>
		</skyfaller>
	</ThingDef> -->

  <EnemyShipIncoming.label>敌舰（临近中）</EnemyShipIncoming.label>
  <EnemyShipOutcome.label>敌舰（临近中）</EnemyShipOutcome.label>

  <EnemyShipPart.label>敌舰</EnemyShipPart.label>
  <EnemyShipPart.description>一艘敌舰。</EnemyShipPart.description>

  <RaidPortal.label>入口</RaidPortal.label>
  <RaidPortal.description>传送部队的入口。</RaidPortal.description>


</LanguageData>