<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <GENcounter.label>unspecified filth</GENcounter.label>
  <GENcounter.description>Ticker</GENcounter.description>

  <EQcounter.label>unspecified filth</EQcounter.label>
  <EQcounter.description>Ticker</EQcounter.description>

  <MTcounter.label>unspecified filth</MTcounter.label>
  <MTcounter.description>Ticker</MTcounter.description>

  <MTRcounter.label>unspecified filth</MTRcounter.label>
  <MTRcounter.description>Ticker</MTRcounter.description>

  <SCcounter.label>unspecified filth</SCcounter.label>
  <SCcounter.description>Ticker</SCcounter.description>

  <PCcounter.label>unspecified filth</PCcounter.label>
  <PCcounter.description>Ticker</PCcounter.description>

  <RADcounter.label>unspecified filth</RADcounter.label>
  <RADcounter.description>Ticker</RADcounter.description>

  <NFcounter.label>unspecified filth</NFcounter.label>
  <NFcounter.description>Ticker</NFcounter.description>

  <ORcounter.label>unspecified filth</ORcounter.label>
  <ORcounter.description>Ticker</ORcounter.description>

  <ACcounter.label>unspecified filth</ACcounter.label>
  <ACcounter.description>Ticker</ACcounter.description>

  <VCcounter.label>unspecified filth</VCcounter.label>
  <VCcounter.description>Ticker</VCcounter.description>

  <LCcounter.label>unspecified filth</LCcounter.label>
  <LCcounter.description>Ticker</LCcounter.description>

  <GScounter.label>unspecified filth</GScounter.label>
  <GScounter.description>Ticker</GScounter.description>

  <CosmicRAD.label>radiation filth</CosmicRAD.label>
  <CosmicRAD.description>Ticker</CosmicRAD.description>

  <NFRAD.label>radiation filth</NFRAD.label>
  <NFRAD.description>Ticker</NFRAD.description>

  <NuclearStrikeIncoming.label>Nuclear strike (Incoming!)</NuclearStrikeIncoming.label>
  <OrbitalStrikeIncoming.label>Orbital strike (Incoming!)</OrbitalStrikeIncoming.label>
  <RazorRainIncoming.label>Razor Rain (Incoming!)</RazorRainIncoming.label>
  <Thing_RazorSpawner.label>Razor Spawner</Thing_RazorSpawner.label>


  <!-- Misc Resources -->

  <VGlower.label>light</VGlower.label>
  <ShipChunkIncomingFlame.label>ship chunk (incoming)</ShipChunkIncomingFlame.label>
  <FixedMeteoriteIncoming.label>meteorite (incoming)</FixedMeteoriteIncoming.label>
  <FixedMeteoriteIncomingFlame.label>meteorite (incoming)</FixedMeteoriteIncomingFlame.label>


  <!-- <ThingDef Name="MechanoidShipBase" Abstract="True">
		<label>Mechanoid ship (incoming)</label>
		<category>Ethereal</category>
		<tickerType>Normal</tickerType>
		<graphicData>
			<texPath>Things/Building/Genstep/MechanoidShipIncoming</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<drawSize>(6,6)</drawSize>
			<shaderType>CutoutFlying</shaderType>
		</graphicData>
		<size>(6,6)</size>
		<altitudeLayer>Skyfaller</altitudeLayer>
		<drawerType>RealtimeOnly</drawerType>
		<useHitPoints>false</useHitPoints>
	</ThingDef>

	<ThingDef ParentName="MechanoidShipBase">
		<defName>MechanoidShipIncoming</defName>
		<thingClass>SK.Events.MechanoidShipIncoming</thingClass>
		<skyfaller>
			<shadowSize>(3,3)</shadowSize>
			<explosionRadius>4</explosionRadius>
			<explosionDamage>Bomb</explosionDamage>
			<rotateGraphicTowardsDirection>false</rotateGraphicTowardsDirection>
			<speed>1.2</speed>
		</skyfaller>
	</ThingDef> -->

  <EnemyShipIncoming.label>Enemy ship (incoming)</EnemyShipIncoming.label>
  <EnemyShipOutcome.label>Enemy ship (incoming)</EnemyShipOutcome.label>

  <EnemyShipPart.label>Enemy ship</EnemyShipPart.label>
  <EnemyShipPart.description>An enemy ship.</EnemyShipPart.description>

  <RaidPortal.label>portal</RaidPortal.label>
  <RaidPortal.description>A portal to transport troops.</RaidPortal.description>


</LanguageData>